<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Write a Post</h2>

    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Headline</span>
        <input type="text" ng-model="post.headline" placeholder="Headline">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" ng-model="post.description" placeholder="Description">
      </label>
      <label class="item item-input item-select">
      <div class="input-label"> Category</div>
        <select ng-model="post.category">
          <option>Blue</option>
          <option selected>Yellow</option>
          <option>Red</option>
        </select>
      </label>
      <!-- We should add Media somewhere here -->
      <label class="item item-input">
        <span class="input-label">Start</span>
        <input type="date" ng-model="post.start_date">
      </label>
      <label class="item item-input">
        <span class="input-label">End</span>
        <input type="date" ng-model="post.end_date">
      </label>
      <!-- this part is essentially broken; looking for a way to walk around -->
      <label class="item">
        <div ng-repeat="option in match_options">
          {{option[0]}}
          <label class="toggle">
            <input type="checkbox" ng-value="match_toggles[$index]" ng-click="ToggleMatchOption($index)">
            <div class="track"> <div class="handle"></div></div>
          </label>
          {{option[1]}}
        </div>

     </label>



    </div>





  </ion-content>
</ion-view>
